.denomination-list-item {
  list-style-type: none;
  width: 48%;
  margin-bottom: 16px;
}

.button {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: #382f5a;
  color: #c4c4c4;
  font-family: 'Roboto';
  font-size: 20px;
  padding: 10px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
