.denomination-list-item {
  list-style-type: none;
  width: 48%;
  margin-bottom: 16px;
}

.button {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #382f5a;
  color: #c4c4c4;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}
