.denomination-list-item {
  list-style-type: none;
  width: 48%;
  margin-bottom: 16px;
}

.button {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #382f5a;
  color: #c4c4c4;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .withdrawal-container {
    width: 50%;
    max-width: 422px;
    padding: 48px 36px 16px 36px;
  }
  .profile-img {
    height: 64px;
    width: 64px;
    border-radius: 32px;
  }
  .customer-name {
    font-size: 20px;
    margin-left: 16px;
  }
  .balance-text {
    font-size: 20px;
    margin-top: 8px;
  }
  .balance-amount {
    font-size: 32px;
  }
  .currency{
    font-size: 12px;
  }
  .withdraw-text {
    font-size: 24px;
    margin-top: 24px;
  }
  .choose-sum {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
