.app-container {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdrawal-container {
  background-color: #150b3e;
  border-radius: 16px;
  width: 80%;
  max-width: 350px;
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

.customer-details-container {
  display: flex;
}

.profile-img {
  background-color: #c7d2fe;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}

.customer-name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
}

.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
.balance-text {
  color: #585076;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}
.balance-amount {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin:0;
}
.currency {
  color: #585076;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.withdraw-text {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}
.choose-sum {
  color: #585076;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

.denomination-container {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .withdrawal-container {
    width: 50%;
    max-width: 422px;
    padding: 48px 36px 16px 36px;
  }
  .profile-img {
    height: 64px;
    width: 64px;
    border-radius: 32px;
  }
  .customer-name {
    font-size: 20px;
    margin-left: 16px;
  }
  .balance-text {
    font-size: 20px;
    margin-top: 8px;
  }
  .balance-amount {
    font-size: 32px;
  }
  .currency{
    font-size: 12px;
  }
  .withdraw-text {
    font-size: 24px;
    margin-top: 24px;
  }
  .choose-sum {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
